<main class=su_main>
  <section class="su_container">
    <div class="sign_up_card">
      <h2 class="su_title">LOBORA cafe</h2>
      <form action="" class="su_form">
        <input type="text" placeholder="ニックネーム" size="50" maxlength="50">
        <input type="text" placeholder="メールアドレス" size="50" maxlength="50">
        <input type="text" placeholder="パスワード" size="50" maxlength="50">
        <input type="text" placeholder="パスワード確認" size="50" maxlength="50">
        <input type="submit" value="アカウント作成" class="su_submit">
      </form>
    </div>
  </section>
  </main>