<main class="si_main">
  <section class="si_container">
    <div class="sign_in_card">
      <h2 class="si_title">LOBORA cafe</h2>
      <form action="" class="si_form">
        <input type="text" placeholder="メールアドレス" size="50" maxlength="50">
        <input type="text" placeholder="パスワード" size="50" maxlength="50">
        <input type="text" placeholder="パスワード確認" size="50" maxlength="50">
        <input type="submit" value="ログイン" class="si_submit">
      </form>
    </div>
  </section>
  </main>