/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   width: 99.2vw;
   height: auto;
 }

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'PT Serif', serif;
}

 /* ここからヘッダー */
header {
  width: 100%;
  height: 11vh;
  min-height: 90px;
  background-color: rgb(65, 80, 72);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

  .header_left {
    width: 30%;
  }

  .header_span1 {
    display: inline-block;
    font-size: 1.8rem;
    margin: 3% 0 0 3%;
    letter-spacing: 0.03em;
  }

  .header_span2 {
    display: inline-block;
    font-size: 1.2rem;
    margin: 3% 0 0 12%;
    letter-spacing: 0.03em;
  }
/*ここからアニメーション------------------------------------*/
.header_left_span1 {
  animation:logo 1500ms infinite;
}
.header_left_span2 {
  animation:logo 1500ms infinite 0.2s;
}
.header_left_span3 {
  animation:logo 1500ms infinite 0.4s;
}
.header_left_span4 {
  animation:logo 1500ms infinite 0.6s;
}
.header_left_span5 {
  animation:logo 1500ms infinite 0.8s;
}
.header_left_span6 {
  animation: logo 1500ms infinite 1s;
}
@keyframes logo {
  0% {
    color: #fff;
  }
  25% {
    color: #e8dd7d;
  }
  50% {
    color: #558c8c;
  }
  75% {
    color: #82204a;
  }
  100% {
    color: #eff7ff;
  }
}

.header_left_span7 {
  display: inline-block;
  animation: logo2 1000ms
}
.header_left_span8 {
  display: inline-block;
  animation: logo2 1000ms 0.05s
}
.header_left_span9 {
  display: inline-block;
  animation: logo2 1000ms 0.1s
}
.header_left_span10 {
  display: inline-block;
  animation: logo2 1000ms 0.15s
}
@keyframes logo2 {
  0%,100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    transform: translateY(-25%);
  }
  50% {
    transform: scale(1);
  }
  90% {
    top: 0;
    transition: scale(1.2, 0.8);
  }
}

.fa-mug-hot {
  animation: logo3 3000ms;
}
@keyframes logo3 {
  0% {
    transform: translateY(-300%);
  }
  60% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*ここまでアニメーション-------------------------------------*/

/*ここからヘッダーライト*/
.header_right {
  padding-right: 20px;
  height: 100%;
  width: 50%;
}

.right_menus1 {
  width: 100%;
  height: 100%;
}

.right_menus1 ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_menus1 ul li {
  list-style: none;
  margin-left: 50px;
}

.header_home,.header_food,.header_dolce,.header_drink {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
} 

.header_newmenu {
  color: white;
  text-decoration: none;
  margin-right: 80px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.header_signout {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  transition: all 0.3s;
  position: relative;
}

.header_home::before,
.header_food::before,
.header_dolce::before,
.header_drink::before,
.header_newmenu::before,
.header_signout::before {
  background: rgb(180, 180, 180);
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

.header_home:hover,
.header_food:hover,
.header_dolce:hover,
.header_drink:hover,
.header_newmenu:hover,
.header_signout:hover {
  color: rgb(180, 180, 180);
}

.header_home:hover::before,
.header_food:hover::before,
.header_dolce:hover::before,
.header_drink:hover::before,
.header_drink:hover::before,
.header_newmenu:hover::before,
.header_signout:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
/*ここまでサインイン時*/

/*ここからサインアウト時*/
.right_menus2 {
  width: 100%;
  height: 100%;
}

.right_menus2 ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right_menus2 ul li {
  list-style: none;
}

.sign_up {
  color: white;
  margin-right: 100px;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.sign_in {
  color: white;
  margin-right: 60px;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.sign_up::before,
.sign_in::before {
  background: rgb(180, 180, 180);
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.sign_up:hover,
.sign_in:hover {
  color: rgb(214, 214, 214);
}

.sign_up:hover::before,
.sign_in:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}
/*ここまでサインアウト時*/
/* ここまでヘッダーライト */
/* ここまでヘッダー */

/* ここからフッター */
footer {
  width: 100%;
  height: 15vh;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
  background-color: #fff;
}

#empty {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.footer_empty {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid gray;
  opacity: 0;
  transform: translateX(-100%);
}
.footer_empty.active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1.5s, transform 1.5s;
}

.footer_body {
  display: flex;
  justify-content: flex-start;
  padding: 1% 0 0 10%;
}
  
  .footer_left {
    margin-right: 10%;
  }
  
  .footer_center {
    margin-right: 10%;
  }
  
  footer span {
    display: inline-block;
    font-size: 1.1rem;
    border-left: 5px solid gray;
  }

  footer p {
    line-height: 150%;
    font-size: 0.8rem;
  }

  .footer_left p:last-child {
    margin-left: 52%;
  }
  /* ここまでフッター */

  /*ここからback to top*/
  .back_to_top {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: rgb(65, 80, 72);
    font-weight: 800;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 100%;
    font-size: 30px;
    color: #fff;
    display: none;
  }