/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   width: 100vw;
   height: auto;
 }

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'PT Serif', serif;
}

 /* ここからヘッダー */
header {
  width: 100%;
  height: 11vh;
  min-height: 90px;
  background-color: rgb(65, 80, 72);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

  .header_left {
    padding: 10px 0 0 20px;
  }

  .header_right {
    padding-right: 20px;
    height: 100%;
    width: 50%;
  }

  .right_menus1 {
    width: 100%;
    height: 100%;
  }

  .right_menus1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .right_menus1 ul li {
    list-style: none;
    margin-left: 50px;
  }

  .header_home {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }
  /*ここからサインイン時*/
  .header_food {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }

  .header_dolce {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }

  .header_drink {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
  }

  .header_newmenu {
    color: white;
    text-decoration: none;
    margin-right: 80px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .header_signout {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    transition: all 0.3s;
  }
  /*ここからホバー*/
  .header_home:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .header_food:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .header_dolce:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .header_drink:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .header_newmenu:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .header_signout:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  /*ここまでホバー*/
  /*ここまでサインイン時*/
  
  /*ここからサインアウト時*/
  .right_menus2 {
    width: 100%;
    height: 100%;
  }

  .right_menus2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .right_menus2 ul li {
    list-style: none;
  }

  .sign_up {
    color: white;
    margin-right: 100px;
    text-decoration: none;
    transition: all 0.3s;
  }

  .sign_in {
    color: white;
    margin-right: 60px;
    text-decoration: none;
    transition: all 0.3s;
  }
  /*ここからホバー*/
  .sign_up:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  .sign_in:hover {
    font-size: 1.1rem;
    color: rgb(214, 214, 214);
  }
  /*ここまでホバー*/
  /*ここまでサインアウト時*/
/* ここまでヘッダー */

/* ここからフッター */
footer {
  width: 100%;
  height: 15vh;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;
  background-color: #fff;
}

.footer_empty {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid gray;
}

.footer_body {
  display: flex;
  justify-content: flex-start;
  padding: 1% 0 0 10%;
}
  
  .footer_left {
    margin-right: 10%;
  }
  
  .footer_center {
    margin-right: 10%;
  }
  
  footer span {
    display: inline-block;
    font-size: 1.1rem;
    border-left: 5px solid gray;
  }

  footer p {
    line-height: 150%;
    font-size: 0.8rem;
  }

  .footer_left p:last-child {
    margin-left: 52%;
  }
  /* ここまでフッター */