* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.su_main {
  width: 100%;
  height: calc(100vh - 80px - 100px);
  margin-top: 80px;
}

.su_container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.sign_up_card {
  width: 28%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.su_title {
  margin-bottom: 50px;
}

.su_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.su_form input {
  margin-bottom: 30px;
  padding: 5px;
}

.su_submit {
  width: 50%;
  border-radius: 30px;
  border: 1px solid #ccc;
}