.su_main {
  width: 100%;
  height: calc(100vh - 11vh - 15vh);
  margin-top: 11vh;
}

.su_container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.sign_up_card {
  width: 28%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.su_title {
  margin-bottom: 50px;
}

.su_form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.su_form input {
  margin-bottom: 30px;
  padding: 5px;
}

.su_buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 20%;
}

.su_back_btn {
  height: 60%;
  margin-top: auto;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  margin-right: 13%;
}

.su_submit {
  display: inline-block;
  width: 50%;
  height: 55%;
  border: 1px solid #ccc;
  border-bottom: 5px solid gray;
  box-shadow: 0 3px 3px rgb(30, 30, 30);
  transition: all 0.2s;
}
.su_submit:hover {
  margin-top: 2px;
  border-bottom:1px solid gray;
}
.su_submit:active {
  margin-top: 3px;
  border-bottom: none;
}