.si_main {
  width: 100%;
  height: calc(100vh - 11vh - 15vh);
  margin-top: 11vh;
}

.si_container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.sign_in_card {
  width: 28%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.si_title {
  margin-bottom: 50px;
}

.si_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.si_form input {
  margin-bottom: 30px;
  padding: 5px;
}

.si_submit {
  width: 50%;
  border: 1px solid #ccc;
  border-bottom: 5px solid gray;
  box-shadow: 0 3px 3px rgb(30, 30, 30);
}

.si_submit:hover {
  margin-top: 2px;
  border-bottom:1px solid gray;
}

.si_submit:active {
  margin-top: 3px;
  border-bottom: none;
}