.dolce_container {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.dolce01 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.dolce_img_wrapper01 {
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -2;
}

.dolce_img_wrapper01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dolce_overlay01 {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dolce01_explain {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.dolce01_explain h2 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 15%;
}

.dolce01_explain p {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  line-height: 130%;
}
/* ここまでdolce01 */

/* ここからdolce02 */
.dolce02 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(245, 244, 236);
}

.dolce02_wrapper {
  width: 83%;
  height: 100%;
  margin: 0 auto;
}

.dolce02 h2 {
  margin-bottom: 5%;
  color: #000;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
}

.dolce_menus {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8%;
}

.dolce_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dolce_menu_img {
  width: 90%;
  height: 100%;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.dolce_menu_img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.dolce_menu_img img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.dolce_menu_contents {
  margin-left: 5%;
}

.dolce_menu_name {
  font-size: 1.1rem;
  margin-bottom: 40px;
  transition: all 0.2s;
}

.dolce_menu_name:hover {
  font-size: 1.13rem;
  color:rgb(145, 145, 145);
}

.dolce_menu_name a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
/* ここまでdolce02 */

/* ここからdolce03 */
.dolce03 {
  display: none;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

.dolce03 span:nth-child(1) {
  position: absolute;
  top: 12%;
  left: 1.5%;
  display: inline-block;
  font-size: 6rem;
}

.dolce03  .modal_second_span{
  position: absolute;
  top: 22%;
  left: 5.5%;
  display: inline-block;
  font-size: 4rem;

}

.show_form_box {
  width: 40%;
  margin: 0 auto;
  animation-name: popup;
  animation-duration: 0.8s;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(65, 80, 72);
  border-bottom: 5px solid rgb(65, 80, 72);
  background-color: rgb(65, 80, 72);
  color: white;
  box-shadow: 0 3px 3px black;
  transition: all 0.2s;
}

.show_submit:hover {
  margin-top: 3.2%;
  border-bottom: 2px solid rgb(65, 80, 72);
}

.show_submit:active {
  margin-top: 3.3%;
  border-bottom: none;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでdolce03 */