.drink_container {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

/* ここからdrink01 */
.drink01 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.drink_img_wrapper01 {
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -2;
}

.drink_img_wrapper01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_overlay01 {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.drink01_explain {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.drink01_explain h2 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 15%;
}

.drink01_explain p {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  line-height: 130%;
}

.drink01_explain p:nth-child(3) {
  text-align: center;
}
/* ここまでdrink01 */

/* ここからdrink03 */
.drink03 {
  width: 100%;
  height: auto;
  background-color: rgb(176, 215, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 8%;
}

.drink03 h2 {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #000;
}

.drink_recommended01 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.drink_img_wrapper04 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_img_wrapper04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_recommended_explain01 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain01 li {
  list-style: none;
}

.drink_recommended_explain01 li:first-child{
  font-size: 1.5rem;
}

.drink_recommended02 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.drink_img_wrapper05 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_img_wrapper05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_recommended_explain02 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain02 li {
  list-style: none;
}

.drink_recommended_explain02 li:first-child{
  font-size: 1.5rem;
}
/* ここまでdrink03 */

/* ここからdrink04 */
.drink04 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(245, 244, 236);
}

.drink04_wrapper {
  width: 83%;
  height: 100%;
  margin: 0 auto;
}

.drink04 h2 {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #000;
}

.drink_menus {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.drink_menu {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2%;
}

.drink_menu_img {
  width: 90%;
  height: 100%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

.drink_menu_img img {
  width: 100%;
  height: 100%;
}

.drink_menu_contents {
  margin-left: 5%;
}

.drink_menu_name {
  margin-bottom: 30%;
}
/* ここまでdrink04 */

/* ここからdrink05 */
.drink05 {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

.drink05 span:nth-child(1) {
  position: absolute;
  top: 12%;
  left: 1.5%;
  display: inline-block;
  font-size: 6rem;
}

.drink05  .modal_second_span{
  position: absolute;
  top: 22%;
  left: 5.5%;
  display: inline-block;
  font-size: 4rem;

}

.show_form_box {
  width: 40%;
  margin: 0 auto;
  animation-name: popup;
  animation-duration: 0.8s;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(65, 80, 72);
  border-bottom: 5px solid rgb(65, 80, 72);
  background-color: rgb(65, 80, 72);
  color: white;
  box-shadow: 0 3px 3px black;
  transition: all 0.2s;
}

.show_submit:hover {
  margin-top: 3.2%;
  border-bottom: 2px solid rgb(65, 80, 72);
}

.show_submit:active {
  margin-top: 3.3%;
  border-bottom: none;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでdrink05*/