.drink_container {
  width: 100%;
  height: auto;
  margin-top: 11vh;
}

/* ここからdrink01 */
.drink01 {
  width: 100%;
  height: 100vh;
  background-color: rgb(65, 80, 72);
  position: relative;
  z-index: -3;
}

.drink_img_wrapper01 {
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
}
.drink_img_wrapper01.active {
  opacity: 1;
  transition: all 3s;
}

.drink_img_wrapper01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_overlay01 {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: translateX(-100%);
}
.drink_overlay01.active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 0.6s;
}

.drink01_explain {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.drink_h2_01 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 15%;
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
}
.drink_h2_01.active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 1.5s;
}

.drink01_sentence {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  line-height: 130%;
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
}
.drink01_sentence.active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 1.6s;
}

.drink01_sentence p:nth-child(2) {
  text-align: center;
}
/* ここまでdrink01 */

/* ここからdrink02 */
.drink02 {
  width: 100%;
  height: auto;
  background-color: rgb(191, 217, 163);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 8%;
  overflow: hidden;
}

.drink02 h2 {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #000;
  overflow: hidden;
}
/*下から出てくるアニメーション-----------------------------------*/
.drink02_span1 {
  opacity: 0;
}
.drink02_span2 {
  opacity: 0;
}
.drink02_span3 {
  opacity: 0;
}
.drink02_span4 {
  opacity: 0;
}
.drink02_span5 {
  opacity: 0;
}
.drink02_span6 {
  opacity: 0;
}
.drink02_span7 {
  opacity: 0;
}
.drink02_span8 {
  opacity: 0;
}
.drink02_span9 {
  opacity: 0;
}
.drink02_span10 {
  opacity: 0;
}
.drink02_span11 {
  opacity: 0;
}

.drink02_span1.active{
  display: inline-block;
  animation: display 0.5s forwards;
}
.drink02_span2.active{
  display: inline-block;
  animation: display 0.5s 0.1s forwards;
}
.drink02_span3.active{
  display: inline-block;
  animation: display 0.5s 0.2s forwards;
}
.drink02_span4.active{
  display: inline-block;
  animation: display 0.5s 0.3s forwards;
}
.drink02_span5.active{
  display: inline-block;
  animation: display 0.5s 0.4s forwards;
}
.drink02_span6.active{
  display: inline-block;
  animation: display 0.5s 0.5s forwards;
}
.drink02_span7.active{
  display: inline-block;
  animation: display 0.5s 0.6s forwards;
}
.drink02_span8.active{
  display: inline-block;
  animation: display 0.5s 0.7s forwards;
}
.drink02_span9.active{
  display: inline-block;
  animation: display 0.5s 0.8s forwards;
}
.drink02_span10.active{
  display: inline-block;
  animation: display 0.5s 0.9s forwards;
}
.drink02_span11.active{
  display: inline-block;
  animation: display 0.5s 1s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-ここまで下から出てくるアニメーション----------------------------*/

.drink_recommended01 {
  width: 60%;
  height: 40vh;
  min-height: 380px;
  background-color: #fff;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(100%);
}
.drink_recommended01.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.drink_img_wrapper04 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.drink_img_wrapper04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.drink_img_wrapper04 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.drink_recommended_explain01 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain01 ul li {
  list-style: none;
  letter-spacing: 0.03em;
  line-height: 130%;
}

.drink_recommended_explain01 li:nth-child(1){
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 12%;
}
.drink_recommended_explain01 li:nth-child(2) {
  font-size: 0.85rem;
  margin-bottom: 5%;
}
.drink_recommended_explain01 li:nth-child(3) {
  font-size: 1.1rem;
  font-weight: 600;
}

.drink_recommended02 {
  width: 60%;
  height: 40vh;
  min-height: 380px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(100%);
}
.drink_recommended02.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.drink_img_wrapper05 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.drink_img_wrapper05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.drink_img_wrapper05 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.drink_recommended_explain02 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain02 ul li {
  list-style: none;
  letter-spacing: 0.03em;
  line-height: 130%;
}

.drink_recommended_explain02 li:nth-child(1){
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 12%;
}
.drink_recommended_explain02 li:nth-child(2) {
  font-size: 0.85rem;
  margin-bottom: 5%;
}
.drink_recommended_explain02 li:nth-child(3) {
  font-size: 1.1rem;
  font-weight: 600;
}
/* ここまでdrink02 */

/* ここからdrink03 */
.drink03 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(245, 244, 236);
}

.drink03_wrapper {
  width: 83%;
  height: 100%;
  margin: 0 auto;
}

.drink03 h2 {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #000;
  overflow: hidden;
}
/*下から出てくるアニメーション-----------------------------------*/
.drink03_span1 {
  opacity: 0;
}
.drink03_span2 {
  opacity: 0;
}
.drink03_span3 {
  opacity: 0;
}
.drink03_span4 {
  opacity: 0;
}
.drink03_span5 {
  opacity: 0;
}
.drink03_span6 {
  opacity: 0;
}
.drink03_span7 {
  opacity: 0;
}
.drink03_span8 {
  opacity: 0;
}
.drink03_span9 {
  opacity: 0;
}

.drink03_span1.active{
  display: inline-block;
  animation: display 0.5s forwards;
}
.drink03_span2.active{
  display: inline-block;
  animation: display 0.5s 0.1s forwards;
}
.drink03_span3.active{
  display: inline-block;
  animation: display 0.5s 0.2s forwards;
}
.drink03_span4.active{
  display: inline-block;
  animation: display 0.5s 0.3s forwards;
}
.drink03_span5.active{
  display: inline-block;
  animation: display 0.5s 0.4s forwards;
}
.drink03_span6.active{
  display: inline-block;
  animation: display 0.5s 0.5s forwards;
}
.drink03_span7.active{
  display: inline-block;
  animation: display 0.5s 0.6s forwards;
}
.drink03_span8.active{
  display: inline-block;
  animation: display 0.5s 0.7s forwards;
}
.drink03_span9.active{
  display: inline-block;
  animation: display 0.5s 0.8s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-ここまで下から出てくるアニメーション----------------------------*/

.drink_menus {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8%;
  overflow-x: hidden;
}

.drink_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.drink_menu_img {
  width: 90%;
  height: 100%;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
}
.drink_menu_img.active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s, transform 1s;
}

.drink_menu_img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.drink_menu_img img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.drink_menu_contents {
  margin-left: 5%;
}

.drink_menu_name {
  font-size: 1.1rem;
  margin-bottom: 40px;
  transition: all 0.2s;
}

.drink_menu_name:hover {
  font-size: 1.13rem;
  color:rgb(145, 145, 145);
}

.drink_menu_name a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
/* ここまでdrink03 */
