.drink_container {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

/* ここからdrink01 */
.drink01 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.drink_img_wrapper01 {
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -2;
}

.drink_img_wrapper01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_overlay01 {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.drink01 p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ここまでdrink01 */

/* ここからdrink03 */
.drink03 {
  width: 100%;
  height: auto;
  background-color: rgb(176, 215, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 8%;
}

.drink03 h2 {
  font-size: 2rem;
  margin-bottom: 5%;
  color: #fff;
}

.drink_recommended01 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
}

.drink_img_wrapper04 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_img_wrapper04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_recommended_explain01 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain01 li {
  list-style: none;
}

.drink_recommended_explain01 li:first-child{
  font-size: 1.5rem;
}

.drink_recommended02 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.drink_img_wrapper05 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_img_wrapper05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drink_recommended_explain02 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.drink_recommended_explain02 li {
  list-style: none;
}

.drink_recommended_explain02 li:first-child{
  font-size: 1.5rem;
}
/* ここまでdrink03 */

/* ここからdrink04 */
.drink04 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(245, 244, 236);
}

.drink04_wrapper {
  width: 83%;
  height: 100%;
  margin: 0 auto;
}

.drink04 h2 {
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
  color: #000;

}

.drink_menus {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.drink_menu {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2%;
}

.drink_menu_img {
  width: 90%;
  height: 100%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
}

.drink_menu_img img {
  width: 100%;
  height: 100%;
}

.drink_menu_contents {
  margin-left: 5%;
}

.drink_menu_name {
  margin-bottom: 30%;
}
/* ここまでdrink04 */