.food_container {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

/* ここからfood01 */
.food01 {
  width: 100%;
  height: 100vh;
  background-color: rgb(65, 80, 72);
  position: relative;
  z-index: -3;
}

.food_img_wrapper01 {
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
}
.food_img_wrapper01.active {
  opacity: 1;
  transition: all 3s;
}

.food_img_wrapper01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food_overlay01 {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: translateX(-100%);
}
.food_overlay01.active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 0.6s;
}

.food01_explain {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.food_h2_01 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 15%;
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
}
.food_h2_01.active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 1.5s;
}

.food01_sentence {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  line-height: 130%;
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
}
.food01_sentence.active {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 1.6s;
}
/* ここまでfood01 */

/* ここからfood02 */
.food02 {
  width: 100%;
  height: auto;
  background-color: rgb(160, 125, 143);
  padding-top: 6%;
  padding-bottom: 8%;
}

.food02 h2 {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 7%;
  color: #fff;
  overflow: hidden;
}
/*下から出てくるアニメーション-----------------------------------*/
.food02_span1 {
  opacity: 0;
}
.food02_span2 {
  opacity: 0;
}
.food02_span3 {
  opacity: 0;
}
.food02_span4 {
  opacity: 0;
}
.food02_span5 {
  opacity: 0;
}
.food02_span6 {
  opacity: 0;
}
.food02_span7 {
  opacity: 0;
}
.food02_span8 {
  opacity: 0;
}
.food02_span9 {
  opacity: 0;
}
.food02_span10 {
  opacity: 0;
}
.food02_span11 {
  opacity: 0;
}

.food02_span1.active{
  display: inline-block;
  animation: display 0.5s forwards;
}
.food02_span2.active{
  display: inline-block;
  animation: display 0.5s 0.1s forwards;
}
.food02_span3.active{
  display: inline-block;
  animation: display 0.5s 0.2s forwards;
}
.food02_span4.active{
  display: inline-block;
  animation: display 0.5s 0.3s forwards;
}
.food02_span5.active{
  display: inline-block;
  animation: display 0.5s 0.4s forwards;
}
.food02_span6.active{
  display: inline-block;
  animation: display 0.5s 0.5s forwards;
}
.food02_span7.active{
  display: inline-block;
  animation: display 0.5s 0.6s forwards;
}
.food02_span8.active{
  display: inline-block;
  animation: display 0.5s 0.7s forwards;
}
.food02_span9.active{
  display: inline-block;
  animation: display 0.5s 0.8s forwards;
}
.food02_span10.active{
  display: inline-block;
  animation: display 0.5s 0.9s forwards;
}
.food02_span11.active{
  display: inline-block;
  animation: display 0.5s 1s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-ここまで下から出てくるアニメーション----------------------------*/
.food02_wrapper1 {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  position: relative;
  margin-bottom: 2%;
  overflow: hidden;
}

.food_img_wrapper02 {
  width: 46vw;
  height: 70vh;
  position: absolute;
  top: 0%;
  left: 6%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50%);
}
.food_img_wrapper02.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.food_img_wrapper02 img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.food_img_wrapper02 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.food_special_explain01 {
  background-color: #fff;
  width: 47vw;
  height: 70vh;
  position: absolute;
  top: 5%;
  left: 46%;
  opacity: 0;
  transform: translateY(100%);
}
.food_special_explain01.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
  transition-delay: 0.1s;
}

.food_special_explain01 ul {
  margin: 12% 0 0 28%;
}

.food02_wrapper2 {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.food_img_wrapper03 {
  width: 46vw;
  height: 70vh;
  position: absolute;
  top: 8%;
  left: 6%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50%);
}
.food_img_wrapper03.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.food_img_wrapper03 img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.food_img_wrapper03 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.food_special_explain02 {
  background-color: #fff;
  width: 47vw;
  height: 70vh;
  position: absolute;
  top: 13%;
  left: 46%;
  opacity: 0;
  transform: translateY(100%);
}
.food_special_explain02.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
  transition-delay: 0.1s;
}

.food_special_explain02 ul {
  margin: 12% 0 0 28%;
}
/* ここまでfood02 */

/* ここからfood03 */
.food03 {
  width: 100%;
  height: auto;
  background-color: rgb(212, 193, 206);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 8%;
  overflow: hidden;
}

.food03 h2 {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #fff;
  overflow: hidden;
}

/*下から出てくるアニメーション-----------------------------------*/
.food03_span1 {
  opacity: 0;
}
.food03_span2 {
  opacity: 0;
}
.food03_span3 {
  opacity: 0;
}
.food03_span4 {
  opacity: 0;
}
.food03_span5 {
  opacity: 0;
}
.food03_span6 {
  opacity: 0;
}
.food03_span7 {
  opacity: 0;
}
.food03_span8 {
  opacity: 0;
}
.food03_span9 {
  opacity: 0;
}
.food03_span10 {
  opacity: 0;
}
.food03_span11 {
  opacity: 0;
}

.food03_span1.active{
  display: inline-block;
  animation: display 0.5s forwards;
}
.food03_span2.active{
  display: inline-block;
  animation: display 0.5s 0.1s forwards;
}
.food03_span3.active{
  display: inline-block;
  animation: display 0.5s 0.2s forwards;
}
.food03_span4.active{
  display: inline-block;
  animation: display 0.5s 0.3s forwards;
}
.food03_span5.active{
  display: inline-block;
  animation: display 0.5s 0.4s forwards;
}
.food03_span6.active{
  display: inline-block;
  animation: display 0.5s 0.5s forwards;
}
.food03_span7.active{
  display: inline-block;
  animation: display 0.5s 0.6s forwards;
}
.food03_span8.active{
  display: inline-block;
  animation: display 0.5s 0.7s forwards;
}
.food03_span9.active{
  display: inline-block;
  animation: display 0.5s 0.8s forwards;
}
.food03_span10.active{
  display: inline-block;
  animation: display 0.5s 0.9s forwards;
}
.food03_span11.active{
  display: inline-block;
  animation: display 0.5s 1s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-ここまで下から出てくるアニメーション----------------------------*/

.food_recommended01 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(100%);
}
.food_recommended01.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.food_img_wrapper04 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.food_img_wrapper04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.food_img_wrapper04 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.food_recommended_explain01 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.food_recommended_explain01 li {
  list-style: none;
}

.food_recommended_explain01 li:first-child{
  font-size: 1.5rem;
}

.food_recommended02 {
  width: 60%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(100%);
}
.food_recommended02.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 0.7s;
}

.food_img_wrapper05 {
  width: 45%;
  height: 80%;
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.food_img_wrapper05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

.food_img_wrapper05 img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.food_recommended_explain02 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}

.food_recommended_explain02 li {
  list-style: none;
}

.food_recommended_explain02 li:first-child{
  font-size: 1.5rem;
}
/* ここまでfood03 */

/* ここからfood04 */
.food04 {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(245, 244, 236);
}

.food04_container {
  width: 84%;
  height: 100%;
  margin: 0 auto;
}

.food04 h2 {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5%;
  color: #000;
  overflow: hidden;
}
/*下から出てくるアニメーション-----------------------------------*/
.food04_span1 {
  opacity: 0;
}
.food04_span2 {
  opacity: 0;
}
.food04_span3 {
  opacity: 0;
}
.food04_span4 {
  opacity: 0;
}
.food04_span5 {
  opacity: 0;
}
.food04_span6 {
  opacity: 0;
}
.food04_span7 {
  opacity: 0;
}
.food04_span8 {
  opacity: 0;
}

.food04_span1.active{
  display: inline-block;
  animation: display 0.5s forwards;
}
.food04_span2.active{
  display: inline-block;
  animation: display 0.5s 0.1s forwards;
}
.food04_span3.active{
  display: inline-block;
  animation: display 0.5s 0.2s forwards;
}
.food04_span4.active{
  display: inline-block;
  animation: display 0.5s 0.3s forwards;
}
.food04_span5.active{
  display: inline-block;
  animation: display 0.5s 0.4s forwards;
}
.food04_span6.active{
  display: inline-block;
  animation: display 0.5s 0.5s forwards;
}
.food04_span7.active{
  display: inline-block;
  animation: display 0.5s 0.6s forwards;
}
.food04_span8.active{
  display: inline-block;
  animation: display 0.5s 0.7s forwards;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*-ここまで下から出てくるアニメーション----------------------------*/

.food_menus {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8%;
  overflow-x: hidden;
}

.food_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.food_menu_img {
  width: 90%;
  height: 100%;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
}
.food_menu_img.active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1s, transform 1s;
}

.food_menu_img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.food_menu_img img:hover {
  transform: scale(1.2);
  filter: brightness(70%);
}

.food_menu_contents {
  margin-left: 5%;
}

.food_menu_name {
  font-size: 1.1rem;
  margin-bottom: 40px;
  transition: all 0.2s;
}

.food_menu_name:hover {
  font-size: 1.13rem;
  color:rgb(145, 145, 145);
}

.food_menu_name a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
/* ここまでfood04 */

/* ここからfood05 */
.food05 {
  display: none;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: rgb(150, 150, 150);
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

.food05 span:nth-child(1) {
  position: absolute;
  top: 12%;
  left: 1.5%;
  display: inline-block;
  font-size: 6rem;
}

.food05  .modal_second_span{
  position: absolute;
  top: 22%;
  left: 5.5%;
  display: inline-block;
  font-size: 4rem;

}

.show_form_box {
  width: 40%;
  margin: 0 auto;
  animation-name: popup;
  animation-duration: 0.8s;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(65, 80, 72);
  border-bottom: 5px solid rgb(65, 80, 72);
  background-color: rgb(65, 80, 72);
  color: white;
  box-shadow: 0 3px 3px black;
  transition: all 0.2s;
}

.show_submit:hover {
  margin-top: 3.2%;
  border-bottom: 2px solid rgb(65, 80, 72);
}

.show_submit:active {
  margin-top: 3.3%;
  border-bottom: none;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでfood05 */