.new_wrapper {
  width: 80%;
  height: calc(100vh - 80px);
  margin: 80px auto 0;
}

.new_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.new_background_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  filter: blur(2px);
}

.new_background_img img {
  width: 100%;
  height: 100%;
}

.new_titles {
  position: absolute;
  top: 1.5%;
  left: 2.8%;
  z-index: 1;
}

.new_first_title {
  font-size: 8rem;
}

.new_second_title {
  font-size: 3rem;
  position: absolute;
}

.new_form_box {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  padding-top: 7%;
}

.new_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
  background: linear-gradient(transparent 15%, rgba(204, 204, 204, 0.818) 55%, #ccc 15%,#fff 15%);
}

.new_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.new_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(10, 118, 0);
  background-color: rgb(10, 118, 0);
  color: white;
  box-shadow: 2px 2px 5px black;
}

.new_top {
  text-decoration: none;
  color: black;
}