.show_container {
  width: 100%;
  height: calc(100vh - 11vh - 15vh);
  min-height: 600px;
  margin-top: 11vh;
  background-color: rgb(246, 246, 246);
}

.section_wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.show01 {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.show_menu_name {
  display: inline-block;
  font-size: 1.8rem;
  margin: 3% 0 5% 0;
  opacity: 0;
  transform: translateY(100%);
}
.show_menu_name.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.7s, transform 0.7s;
}

.show_img_wrapper {
  width: 95%;
  height: 100%;
  margin-bottom: 3%;
  position: relative;
  opacity: 0;
  transform: translateX(100%);
}
.show_img_wrapper.active {
  opacity: 1;
  transform: translateX(0%);
  box-shadow: 20px -20px 5px 1px rgb(70, 70, 70);
  transition: opacity 1s, transform 1.5s;
}

.show_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*ここからshow02*/
.show02 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.show02_for_hidden1 {
  overflow: hidden;
  width: 80%;
  height: 30%;
  margin: 12% 0 4% 15%;
}
.show_menu_recipe {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(100%);
}
.show_menu_recipe.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 1.5s;
  transition-delay: 0.6s;
}

.show02 span {
  display: inline-block;
  font-size: 1.2rem;
  border-bottom: 2px solid black;
}

.show02_for_hidden2 {
  overflow: hidden;
  width: 80%;
  height: 40%;
  margin-left: 15%; 
  margin-bottom: 4%;
}
.show_menu_how_to {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(100%);
}
.show_menu_how_to.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 1s, transform 1.5s;
  transition-delay: 0.6s;
}

.show_buttons {
  height: 8%;
  width: 80%;
  display: flex;
  margin-left: 15%;
  overflow: hidden;
}

.show_back_btn {
  height: 68%;
  width: 60px;
  background-color: darkgrey;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-right: auto;
  border-bottom: 4px solid rgb(110, 110, 110);
  box-shadow: 2px 2px 1px rgb(70, 70, 70);
  transition: border 0.5s, margin 0.5s;
  opacity: 0;
  transform: translateY(100%);
}
.show_back_btn.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.8s, transform 0.6s;
  transition-delay: 1.9s;
}
.show_back_btn.active:hover {
  border-bottom: 2px;
  margin-top: 2px;
}

.edit_btn {
  height: 68%;
  width: 60px;
  display: inline-block;
  text-align: center;
  background-color: rgb(75, 75, 253);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 4px solid rgb(43, 60, 133);
  box-shadow: 2px 2px 1px rgb(70, 70, 70);
  transition: border 0.5s, margin 0.5s;
  opacity: 0;
  transform: translateY(100%);
  margin-right: 3%;
}
.edit_btn.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.8s, transform 0.6s;
  transition-delay: 1.9s;
}
.edit_btn.active:hover {
  border-bottom: 2px;
  margin-top: 2px;
}

.delete_btn {
  height: 68%;
  width: 60px;
  text-align: center;
  background-color: rgb(252, 90, 90);
  color: white;
  padding: 7px 10px;
  margin-right: 1%;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  border-bottom: 4px solid rgb(126, 40, 40);
  box-shadow: 2px 2px 1px rgb(70, 70, 70);
  transition: border 0.5s, margin 0.5s;
  opacity: 0;
  transform: translateY(100%);
}
.delete_btn.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.8s, transform 0.6s;
  transition-delay: 1.9s;
}
.delete_btn.active:hover {
  border-bottom: 2px;
  margin-top: 2px;
}

/* ここからモーダルフォーム */
.show03 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: gray;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

.show_form_box {
  width: 40%;
  margin: 0 auto;
  padding-top: 7%;
  animation-name: popup;
  animation-duration: 0.8s;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(10, 118, 0);
  background-color: rgb(10, 118, 0);
  color: white;
  box-shadow: 2px 2px 5px black;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでモーダルフォーム */