.show_container {
  width: 100%;
  height: calc(100vh - 80px - 100px);
  margin-top: 80px;
  background: linear-gradient(#fff, rgb(175, 175, 175));
}

.show01 {
  width: 100%;
  height: 55%;
  margin-bottom: 2%;
}

.show_menu_name {
  display: inline-block;
  margin-left: 30px;
  padding-top: 30px;
  font-size: 1.8rem;
}

.show_img_wrapper {
  width: 30%;
  height: 100%;
  margin: 0 auto;
}

.show_img_wrapper img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

.show02 {
  width: 80%;
  height: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.show02 span {
  display: inline-block;
  font-size: 1.2rem;
  border-bottom: 2px solid black;
}

.show_menu_recipe {
  width: 35%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1%;
  margin-right: 2%;
  background-color: #fff;
}

.show_menu_how_to {
  width: 50%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1%;
  background-color: #fff;
}

.show_buttons {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: flex-end;
  margin-left: 2%;
}

.edit_btn {
  background-color: rgb(75, 75, 253);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  margin-right: 10%;
  cursor: pointer;
}

.delete_btn {
  background-color: rgb(252, 90, 90);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.3rem;
}

/* ここからモーダルフォーム */
.show03 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: gray;
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
}

.show_form_box {
  width: 40%;
  margin: 0 auto;
  padding-top: 7%;
  animation-name: popup;
  animation-duration: 0.8s;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  padding: 1%;
  margin: 3% auto 0;
  border: 1px solid rgb(10, 118, 0);
  background-color: rgb(10, 118, 0);
  color: white;
  box-shadow: 2px 2px 5px black;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでモーダルフォーム */
