.index_main {
  width: 100%;
  height: calc(100% - 11vh - 15vh);
  margin-top: 11vh;
}

/* container01 */
.container01 {
  width: 100%;
  height: 89vh;
  background-color: rgb(65, 80, 72);
  margin-bottom: 10%;
}

.background01 {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 0;
}

.background01 > video {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.top_overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
}

/* ここまでcontainer01 */

/* ここからcontainer02 */
.container02 {
  height: 55vh;
  min-height: 500px;
  width: 100%;
  margin-bottom: 6%;
  position: relative;
}

.background02 {
  width: 1px;
  height: 100%;
  background-color: rgb(140, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
}
.background02.active {
  width: 65%;
  background-color: rgb(89, 67, 37);
  transition: width 0.7s, background-color 5s;
}

.concept_messages {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 13%;
  transform: translate(0, 300px);
  opacity: 0;
  overflow: hidden;
}
.concept_messages.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1.5s, opacity 1.5s;
}

.concept_title {
  letter-spacing: 0.05em;
}

.concept_title1{
  color: white;
  font-size: 1.1rem;
  text-align: right;
  margin-bottom: 15%;
}

.concept_title2 {
  color: white;
  font-size: 3rem;
  text-align: right;
  line-height: 130%;
}

.concept_title2 .last {
  margin-bottom: 34%;
}

.concept_message {
  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 130%;
}

.concept_message p:not(:nth-child(4)){
  text-align: right;
}

.concept_img {
  height: 90%;
  width: 35%;
  position: absolute;
  top: 5%;
  left: 35%; 
  overflow: hidden;
  opacity: 0;
}
.concept_img.active {
  opacity: 1;
  transition: opacity 1.8s; 
}

.concept_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 1s;
  filter: brightness(90%);
}
.concept_img img:hover {
  transform: scale(1.2);
  filter: brightness(70%);

}
/* ここまでcontainer02 */

/* ここからcontainer03 */
.container03 {
  width: 80%;
  height: 80vh;
  min-height: 700px;
  margin: 0  auto 8%;
  position: relative;
  overflow: hidden;
}

.container03_border {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-top: 1px solid gray;
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
  top: 3%;
  left: 0;
  z-index: -1;
}

.container03_border.active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1.2s;
}

.container03 .menu {
  opacity: 0;
  display: inline-block;
  padding: 0 10px;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  font-size: 2.5rem;
  letter-spacing: 0.06em;
}
.container03 .menu.active {
  opacity: 1;
  transition: all 0.6s;
}

.container03 .comment {
  opacity: 0;
  text-align: center;
  margin: 4% 0 2% 0;
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  line-height: 130%;
}
.container03 .comment.active {
  opacity: 1;
  transition: all 2s;
}

.menu_image_boxes {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.img_title_box {
  width: 33.3%;
  height: 100%;
}

.img_box {
  width: 100%;
  height: 95%;
  overflow: hidden;
  transition: all 1s; 
  margin-bottom: 3%;
  overflow: hidden;
}

.box1 {
  transform: translateY(100%);
  opacity: 0;
}
.box1.active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.7s, opacity 1.2s;
}

.box2 {
  transform: translateY(100%);
  opacity: 0;
}
.box2.active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.8s, opacity 1.3s;
  transition-delay: 0.07s;
}

.box3 {
  transform: translateY(100%);
  opacity: 0;
}
.box3.active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 1s, opacity 1.4s;
  transition-delay: 0.14s;
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  transition: all 1s;
}

.top_food {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  margin-left: 5%;
  transition: all 0.3s;
}

.top_dolce {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  margin-left: 5%;
  transition: all 0.3s;
}

.top_drink {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  margin-left: 5%;
  transition: all 0.3s;
}

.top_food:hover {
  font-size: 1.9rem;
  color: rgb(80, 80, 80);
}

.top_dolce:hover {
  font-size: 1.9rem;
  color: rgb(80, 80, 80);
}
.top_drink:hover {
  font-size: 1.9rem;
  color: rgb(80, 80, 80);
}

.img_box:hover {
  transform: scale(0.97);
}

.img_box img:hover {
  transform: scale(1.15);
  filter:brightness(70%);
}
/* ここまでcontainer03 */

/* ここからcontainer04 */
.container04 {
  width: 80%;
  height: 50vh;
  min-height: 500px;
  max-height: 500px;
  margin: 0 auto 150px;
  position: relative;
  overflow: hidden;
}

.coffee_left {
  width: 45%;
  height: 65%;
  color: white;
  background-color: rgba(230, 230, 230, 0.9);
  position: absolute;
  top: 31%;
  left: 2%;
  z-index: 1;
  transition: all 0.3s;
  opacity: 0;
}
.coffee_left.active {
  background-color: rgba(230, 230, 230, 0.9);
  color: black;
  opacity: 1;
  box-shadow: 0 0 10px black;
  transition: transform 1s, color 4s, opacity 2s, box-shadow 5s;
}
.coffee_left.active::before {
  background-color: rgba(230, 230, 230, 0.9);
  filter: blur(10px);
  position: absolute;
  top: 31%;
  left: 1%;
}
.coffee_left.active:hover {
  transform: scale(1.05);
}

.coffee_title p:nth-child(1) {
  font-size: 1.1rem;
  margin: 2% 0 4% 3%;
}

.coffee_title p:nth-child(2) {
  font-size: 3rem;
  margin: 0 0 20% 3%;
}

.coffee_explain {
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  line-height: 130%;
  margin-left: 3%;
}

.coffee_video {
  height: 90%;
  width: 70%;
  position: absolute;
  right: 1%;
  bottom: 1.5%;
  box-shadow: 0px 0px 5px 5px rgb(60, 60, 60);
  overflow: hidden;
  transition: all 1s;
}
.coffee_video:hover {
  transform: scale(0.97);
  filter: brightness(70%);
}

.coffee_video > video {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
  transition: all 1s;
}
.coffee_video > video:hover {
  transform: scale(1.15);
}

.theater_left:hover {
  background-color: rgb(145, 145, 145);
}

.theater_img:hover {
  transform: scale(0.97);
}

.theater_img img:hover {
  transform: scale(1.15);
  filter: brightness(70%);
}
/* ここまでcontainer04 */

/* ここからcontainer05 */
.container05 {
  width: 80%;
  height: 50vh;
  min-height: 500px;
  margin: 0 auto;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.container05_border {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-top: 1px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.container05_border.active1 {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1.5s;
}

.container05_left {
  width: 50%;
  height: 100%;
}

.container05_left span {
  display: inline-block;
  font-size: 1.1rem;
  border-left: 5px solid gray;
  margin-bottom: 7%;
}

.container05_left p {
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  line-height: 130%;
  text-align: left;
}

.container05_left_message {
  margin-bottom: 28%;
}

.container05_right {
  width: 45%;
  height: 90%;
}

.container05_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ここまでcontainer05 */

/* ここからcontainer06 */
html.modal_set {
  overflow: hidden;
}

.modal_page {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.91);
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  overflow: auto;
}

.show_form_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.show_form_box {
  width: 30%;
  height: 100%;
  margin: 6% auto 0 auto;
  animation-name: popup;
  animation-duration: 0.8s;
}

.show_form_title {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5%;
}

@keyframes popup {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_form {
  width: 100%;
  height: 60%;
}

.show_label {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 800;
}

.show_input {
  width: 100%;
  padding: 1%;
  margin: 1% auto 2%;
  border: 1px solid #ccc;
}

.show_submit {
  display: block;
  width: 30%;
  height: 5%;
  padding: 1%;
  margin: 3% auto 2% auto;
  border: 1px solid rgb(65, 80, 72);
  border-bottom: 5px solid rgb(65, 80, 72);
  background-color: rgb(65, 80, 72);
  color: white;
  box-shadow: 0 3px 3px black;
  transition: all 0.2s;
}

.show_submit:hover {
  margin-top: 3.2%;
  border-bottom: 2px solid rgb(65, 80, 72);
}

.show_submit:active {
  margin-top: 3.3%;
  border-bottom: none;
}

.show_form_buttons {
  display: flex;
  justify-content: space-between;
}

.show_top {
  text-decoration: none;
  color: white;
}

.show_form_close {
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* ここまでcontainer06 */

@media screen and (max-width: 1610px) {
.concept_img {
  position: absolute;
  left: 45%;
}
}