.index_main {
width: 100%;
height: calc(100% - 11vh - 15vh);
margin-top: 11vh;
}

/* container01 */
.container01 {
width: 100%;
height: 89vh;
background-color: rgb(65, 80, 72);
margin-bottom: 200px;
}

.background01 {
width: 100%;
height: 95%;
}

.background01 img {
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
/* ここまでcontainer01 */

/* ここからcontainer02 */
.container02 {
height: 500px;
max-height: 500px;
width: 100%; 
margin-bottom: 150px;
}

.background02 {
width: 60%;
height: 52vh;
background-color: rgb(139, 112, 76);
position: relative;
display: flex;
}

.concept_messages {
margin-top: 4%;
margin-left: 25%;
}


.concept_title {
letter-spacing: 0.05em;

}
.concept_title p:nth-child(1){
color: white;
font-size: 1.1rem;
text-align: right;
margin-bottom: 7%;
}

.concept_title p:not(:first-child) {
color: white;
font-size: 3rem;
text-align: right;
line-height: 110%;
}

.concept_title p:last-child {
margin-bottom: 36%;
}

.concept_message {
color: white;
font-size: 0.9rem;
letter-spacing: 0.05em;
line-height: 130%;
}

.concept_message p:not(:nth-child(4)){
text-align: right;
}

.concept_img {
height: 82%;
width: 55%;
position: absolute;
top: 9%;
left: 58%;
overflow: hidden;
}

.concept_img img {
height: 100%;
width: 100%;
object-fit: cover;
transition: all 1s;
}

.concept_img img:hover {
transform: scale(1.2);
filter:brightness(70%);

}
/* ここまでcontainer02 */

/* ここからcontainer03 */
.container03 {
width: 80%;
height: 80vh;
margin: 0  auto 150px;
border-top: 1px solid gray;
position: relative;
}

.container03 .menu {
display: inline-block;
padding: 0 10px;
position: absolute;
top: -3%;
left: 50%;
transform: translateX(-50%);
background-color: white;
font-size: 2.5rem;
letter-spacing: 0.06em;
}

.container03 .comment {
text-align: center;
margin: 40px 0;
font-size: 0.9rem;
letter-spacing: 0.01em;
line-height: 130%;
}

.menu_image_boxes {
display: flex;
gap: 2%;
justify-content: space-between;
width: 100%;
height: 80%;
}

.img_title_box {
width: 33.3%;
height: 100%;
}

.img_box {
  width: 100%;
  height: 95%;
  overflow:hidden;
  transition: all 1s; 
  margin-bottom: 3%;;
}

.img_box img {
width: 100%;
height: 100%;
object-fit: cover;
margin: 0 auto;
transition: all 1s;
}

.top_food {
font-size: 1.7rem;
text-decoration: none;
color: #000;
margin-left: 5%;
}

.top_dolce {
font-size: 1.7rem;
text-decoration: none;
color: #000;
margin-left: 5%;
}

.top_drink {
font-size: 1.7rem;
text-decoration: none;
color: #000;
margin-left: 5%;
}

.img_box:hover {
transform: scale(0.97);
}

.img_box img:hover {
transform: scale(1.15);
filter:brightness(70%);
}
/* ここまでcontainer03 */

/* ここからcontainer04 */
.container04 {
width: 80%;
height: 500px;
max-height: 500px;
margin: 0 auto 150px;
position: relative;
}

.theater_left {
width: 40%;
height: 60%;
color: white;
background-color: gray;
position: absolute;
top: 35%;
left:0%;
z-index: 1;
transition: all 0.3s;
}

.theater_title p:nth-child(1) {
color: white;
font-size: 1.1rem;
margin: 2% 0 4% 2%;
}

.theater_title p:nth-child(2) {
color: white;
font-size: 3rem;
margin: 0 0 20% 2%;
}

.theater_explain {
color: white;
font-size: 0.8rem;
letter-spacing: 0.02em;
line-height: 130%;
margin-left: 2%;
}

span.super {
vertical-align: super;
font-size: 0.3rem;
}

.theater_img {
height: 90%;
width: 70%;
position: absolute;
right: 0;
bottom: 10;
}

.theater_img img {
width: 100%;
height: 100%;
object-fit: cover;
}

.theater_left:hover {
background-color: rgb(145, 145, 145);
}
/* ここまでcontainer04 */

/* ここからcontainer05 */
.container05 {
width: 80%;
height: 50vh;
margin: 0 auto;
padding-top: 2%;
border-top: 1px solid gray;
display: flex;
justify-content: space-between;
}

.container05_left {
width: 50%;
height: 100%;
}

.container05_left span {
display: inline-block;
font-size: 1.1rem;
border-left: 5px solid gray;
margin-bottom: 7%;
}

.container05_left p {
font-size: 0.9rem;
letter-spacing: 0.01em;
line-height: 130%;
text-align: left;
}

.container05_left_message {
margin-bottom: 25%;
}

.container05_right {
width: 45%;
height: 90%;
}

.container05_right img {
width: 100%;
height: 100%;
object-fit: cover;
}